    <body>
    <div class="footerContainer">
            <div class="socialIcons">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-twitter"></i></a>
              <a href=""><i class="fa-brands fa-google-plus"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
              <ul>
                <li><a href="" >الامتحان</a></li>
                <li><a href="" >التدريب</a></li>
                <li><a href="" >الصفحة الرئيسية</a></li>
              
              </ul>
            </div>
            <div class="footerBottom">
              <p class="text-center text-muted">&copy; 2023 Arabic Quizz,  All Rights Reserved. </p>
          </div>
            
    </div>
  </body>