<div style="font-family:'Amiri', serif;" >
<!-- بانر -->
<div class="banner ">
    <video autoplay loop muted plays-inline  class="myvideo" > 
        <source src="../../../assets/studying.mp4" type="video/mp4">
    </video>
    <div class="container ">
        <div class="row">
            <div class=" text1 col-lg-4 mx-auto text-center" ><h3 class="txt1"  >هنا<br><span class="homepage--top-link-txt-2"> التدريب </span></h3>
                <a href="#" class="button mt-6 " [routerLink]="['/exam']">انطلق</a></div>
            <div class=" text2 col-lg-4 mx-auto text-center"><h3 class="txt2">هنا<br> <span class="homepage--top-link-txt-2">الامتحان</span></h3>
                <a href="#" class="button mt-6" [routerLink]="['/exam']">انطلق</a>   </div>
            </div>
        </div>
    </div>
</div>